<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here we'll do EDA</title>
</head>
<body bgcolor=”#fff8bf">
<br><br>
<center>
    <form action="/eda" method="POST" enctype="multipart/form-data">
          <br> <b> Import csv:  <input type="file", name='csvfile', placeholder="enter 1"> <br><br>
        <h1>Select Which operation You want to perform</h1>
<div class="btn-group">

<select id="operation" name="operation">
                   <option value="Shape">Shape</option>
                   <option value="Size">Size</option>
                   <option value="Columns">Column name</option>

<br><br>
        <input type="submit"  name="" value='submit' >
        </form>


         </select>
</div>



    <br><br><br><br><br><br><a class="btn btn-primary" href="homepage.html" role="button">HomePage</a>
</center>



</>
</html>